extends ../base-layout
append styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    include ../includes/navigation
    
    main
        if emailState
            div
                h3 #{emailState}
        form.login-form(action="/reset", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email")#email
            button.btn(type="submit") Reset Password
            input(type="hidden", name="_csrf", value=`${csrfToken}`)
    include ../includes/end