footer
    p.centered(style="font-size: 0.7rem; top: 1rem; position: relative;")
        | Esta página não representa uma loja real e não processa pagamentos. Ela é apenas um protótipo
        | para fins de demonstração!
    p.centered Saiba mais:
        a(href="https://github.com/cenowador/nodejs-shopexample")
            img(src="/images/github_logo.png", style="height: 1.5rem; top: 0.4rem; position: relative;")
script(src="/js/main.js")